form {
  margin: 70px 0;
}
form .row {
  margin-bottom: 20px;
  margin-top: 10px;
}
form .col- {
  padding: 0;
}
.form-header h1 {
  color: var(--deep-blue);
  font-size: 2rem;
  margin: 30px 0;
  letter-spacing: 1px;
  font-weight: 300;
}
.language-info {
  margin-top: 20px;
  margin-bottom: 70px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
}
.language-info h4 {
  font-size: 14px;
  margin: 0;
  color: rgb(28, 20, 99);
}
.form-title-separator {
  border-bottom: 1.5px solid #d6d5d5;
}
.form-control {
  border-radius: 0;
  min-height: 40px;
  font-size: 12px;
}
.form-control {
  color: rgb(124, 123, 123);
}
.form-control:focus {
  border: 2px solid var(--deep-blue);
  /* color: var(--deep-blue); */
}
option {
  font-size: 1.2rem;
  color: rgb(49, 50, 126);
}
form h3 {
  margin: 30px 0 10px 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(34, 35, 95);
}
form h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: rgb(34, 35, 95);
  font-weight: 700;
  max-width: 70%;
  text-align: justify;
}
.form-group.three-inputs,
.form-group.three-inputs .form-row > * {
  margin-bottom: 0;
}
.form-group.section-B {
  margin-bottom: 0;
}
.form-group.filed-title {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(18, 29, 78);
}
.form-group.filed-title-bold {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(18, 29, 78);
}
.form-group.filed-title.sex {
  margin-bottom: 10px;
}
.form-text {
  color: #adadad;
}
.form-check-label {
  font-size: 14px;
  color: rgb(18, 29, 78);
}
.btn.pdf {
  box-shadow: none;
  font-size: 12px;
  width: 20%;
  transition: all 0.2s linear;
}
.btn.pdf:hover {
  box-shadow: 2px 2px 5px gray;
  transform: none;
  background-color: var(--btn-background) !important;
}
.error-msg {
  font-size: 12px;
  color: orange;
}
.input-error {
  border-bottom: 2px solid orange;
}
.warning-msg {
  margin: 20px 0;
}
