.grey-box .button-col {
  padding: 40px 0 0 0;
}
.grey-box .button-col button {
  margin-left: 40%;
  width: 130px;
  padding: 5px;
  letter-spacing: 0.5px;
}
.grey-box.goto-forum {
  padding: 30px 0;
}
.grey-box.goto-forum .col {
  padding: 0;
}
