/* FORMS PAGE TABS */
.tab-col {
  padding: 0;
}
.tab {
  text-align: center;
  height: 100%;
  padding: 20px;
}
.tab:hover {
  cursor: pointer;
}
.tab.active {
  background-color: #e3f3ff;
  text-shadow: 1px 1px 5px #5d5d5d;
}
.tab-col h3 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #5d5d5d;
  letter-spacing: 1.3px;
}

/* FORMS PAGE IMG SLIDE */
.front-page-slide {
  width: 100%;
  overflow: hidden;
  background: url("../img/filling_form.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.front-page-slide .overlay {
  min-width: 100vw;
  height: 100%;
  opacity: 70%;
  background: radial-gradient(
    circle,
    rgb(77, 94, 153) 13%,
    rgb(27, 52, 134) 35%
  );
}
.front-page-slide div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.front-page-slide div article {
  display: block;
  max-width: 800px;
  padding: 125px 0;
  color: var(--layout-text-color);
}
.front-page-slide div article h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
  max-width: 70%;
}
.front-page-slide div article p {
  max-width: 70%;
  text-align: justify;
}

/* FORM BAR LINKS */
.forms {
  text-align: left;
}
.grey-box-content {
  padding: 40px 10px;
  margin: 0 auto;
  max-width: 1220px;
}
.form-title {
  font-weight: 700;
  margin: 30px 0;
}
ul.forms-links {
  padding: 0;
  list-style-type: none;
}
ul.forms-links li {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  transition: all 0.3s ease-in-out;
  max-width: 90%;
}
ul.forms-links li a {
  position: relative;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  min-height: 3.5rem;
  text-decoration: none;
}
ul.forms-links li:hover {
  cursor: pointer;
  box-shadow: none;
  transform: scale(103%);
}
ul.forms-links li:hover a {
  border: 2px solid var(--deep-blue);
  border-radius: 3px;
}
ul.forms-links li:hover span {
  color: var(--deep-blue);
}
ul.forms-links li span {
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
ul.forms-links li span.name {
  justify-content: left;
  width: 80%;
  padding: 15px 20px;
}
ul.forms-links li span.download {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 20%;
  padding-left: 70px;
}
ul.forms-links li span.fill {
  display: flex;
  flex-wrap: wrap;
}
ul.forms-links span .fa-file-download,
.fa-file-alt {
  height: 100%;
  padding-left: 20px;
}
