/* SLIDER */
.container-fluid {
  position: relative;
  padding: 0;
  max-height: 400px;
}
.carousel-item {
  height: 400px;
}
.carousel-item img {
  height: 1000px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
.carousel-caption {
  right: 0;
  left: 8%;
  text-align: left;
  margin-bottom: 3%;
  max-width: 50%;
}
